    <!-- header start -->
    <div class="header">
      <a class="logo" ui-sref="dashboard({currentUserId: currentUserId})"><img src="images/logo.png" alt=""></a>
      <span class="menu_btn"><img src="images/menu.png" alt=""></span>
    </div>
    <!-- header end -->

    <!-- wrapper start -->
    <div class="wrapper">
      <div class="content">
        <h1 class="add_moodboard_title">Add moodboard</h1>
        <div class="add_moodboard_form">
          <form>
            <div class="form_input name"><input placeholder="Name your moodboard" type="text" ng-model="newMoodboard.name"></div>
            <div class="form_input name">
              <textarea placeholder="Description" type="text" ng-model="newMoodboard.description"></textarea>
            </div>
            <h2>Invite participants</h2>
            <div class="form_input name">
              <textarea placeholder="Enter your friend`s email" type="text" ng-model="newMoodboard.userMails"></textarea>
              </div>
            <div class="create_btn">
              <button ng-click="addMoodboard()">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- wrapper end -->

    <!-- nav-menu start -->
    <div class="nav_menu">
      <ul>
        <li><a ui-sref="add_moodboard({currentUserId: currentUserId})">Add moodboard</a></li>
        <li><a ui-sref="dashboard({currentUserId: currentUserId})">Dashboard</a></li>
        <li><a ui-sref="tasks({currentUserId: currentUserId})">My tasks</a></li>
		<li><a ui-sref="profile({currentUserId: currentUserId})">Settings</a></li>
        <li><a ng-click="logOut()" ui-sref="main">Log out</a></li>
      </ul>
    </div>
    <!-- nav-menu end -->

    <!-- footer start -->
    <div class="footer">
      <p class="rights">Colabme © 2014 - All rights reserved.</p>
    </div>
    <!-- footer end -->