<!-- wrapper start -->
<div class="wrapper front">
  <div class="content">
    <div class="login_form">
      <a class="logo" href="#"><img src="images/logo.png" alt=""></a>
      <form>
        <button class="login" ui-sref="login">Login</button>
        <button class="sign" ui-sref="sign">Sign Up</button>
      </form>
    </div>
  </div>
</div>
<!-- wrapper end -->
<!-- footer start -->
<div class="footer front">
  <p class="rights">Colabme © 2014 - All rights reserved.</p>
</div>
<!-- footer end -->
