<!-- wrapper start -->
<div class="wrapper front">
  <div class="content">
	<h4>Hi, You are trying to access a shared moodboard link. Please login or sign up to see the moodboard shared with you.</h4>
    <div class="login_form">
      <a class="logo" href="#"><img src="images/logo.png" alt=""></a>
      <form>
        <button class="login" ui-sref="newlogin">Login</button>
        <button class="sign" ui-sref="newsign">Sign Up</button>
      </form>
    </div>
  </div>
</div>
<!-- wrapper end -->
<!-- footer start -->
<div class="footer front">
  <p class="rights">Colabme © 2014 - All rights reserved.</p>
</div>
<!-- footer end -->
